<h2 class="auth-heading">Create your account</h2>
<p class="auth-heading-sub">Start listening to what the world says</p>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "auth-form" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                placeholder: "you@company.com",
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: true,
                placeholder: "Create a password",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                placeholder: "Confirm your password",
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<div class="auth-links">
  Already have an account? <%= link_to "Sign in", new_session_path(resource_name) %>
</div>
