<!DOCTYPE html>
<html>
  <head>
    <title>Conversights</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="app-body">
    <% if user_signed_in? %>
      <%= turbo_stream_from current_user %>
    <% end %>
    <%= render "shared/flashes" %>
    <div id="user_notices"></div>
    <div class="app-layout">
      <%= render "shared/sidebar" %>
      <main class="app-main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
